{% comment %} * * Only show posts and header for a collection if there are *
active posts within. This excludes 'categories'/'posts' collection which manages
* itself. * {% endcomment %}
<h1>Projects</h1>
{% for collection in site.collections %} {% assign name = collection.label %} {%
assign posts = site.[name] | where: "active", "true" %} {% assign num_of_posts =
posts | size %} {% if name != "posts" and num_of_posts > 0 %} {% for post in
posts %}
<a href="{{ post.url }}">{{ post.title }}</a><br />
{% endfor %} {% endif %} {% endfor %}
